.score {
  padding-top: 50px;
  p {
    font-size: 72px;
    font-weight: 700;
    color: #f6ef05;
    text-shadow: 4px 4px 0px #0610f3, 
    -4px 0 0px #3564ad,
    7px 4px 0 rgba(158, 139, 236, 0.5);
    margin: 0 auto;
  }
}