.App {
  text-align: center;
  height: 100%;
  background: rgb(221,25,25);
  background: linear-gradient(54deg, rgba(221,25,25,0.989233193277311) 3%, 
  rgba(221,120,12,1) 8%, 
  rgba(218,97,10,1) 13%, 
  rgba(233,7,51,1) 31%, 
  rgba(246,5,5,1) 42%, 
  rgba(246,16,13,1) 44%,
  rgba(274,103,29,1) 52%, 
  rgba(248,85,60,1) 55%, 
  rgba(247,8,55,1) 59%, 
  rgba(248,66,77,1) 64%, 
  rgba(242,9,9,1) 72%, 
  rgba(247,143,58,1) 75%, 
  rgba(246,39,59,1) 77%, 
  rgba(246,79,16,1) 93%, 
  rgba(246,9,21,0.989233193277311) 98%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
